
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
  <!-- Styles block
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css,css/news.css')}}" type="text/css">
{% endblock %} -->
    {% block content %}
        <h2 style="color:rgb(40, 16, 193)"> Business news</h2>
          <ul>
            {{ macro.displayNewslist(business) }}
          </ul> <br>
        <h2 style="color:rgb(51, 6, 114)">Technology news</h2> <br>
          <ul>
            {{ macro.displayNewslist(technology) }}
          </ul> <br>
        <h2 style="color:rgb(83, 11, 111)">Sports news</h2> <br>
          <ul><br>
            {{ macro.displayNewslist(sports) }}
          </ul>

    {% endblock %}
      