
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
  <!-- Styles block -->
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
{% endblock %}
    {% block content %}
        <h2> Business news</h2>
          <ul>
            {{ macro.displayNewslist(business) }}
          </ul>
        <h2>Technology news</h2>
          <ul>
            {{ macro.displayNewslist(technology) }}
          </ul>
        <h2>Sports news</h2>
          <ul>
            {{ macro.displayNewslist(sports) }}
          </ul>

    {% endblock %}
      